h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
small,
body {
  font-family: 'Open Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.no-text-style {
  text-decoration: none;
}

.upper-case {
  text-transform: uppercase;
}

.dark {
  color: $dark;
}
